<p>Nos envie sua ideia!</p>

<div>
    <form [formGroup]="budgetForm">
        <div>
            <label>
                Nome
            </label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label>
                Nome
            </label>
            <input type="text" formControlName="email">
        </div>
        <div>
            <label>
                E-mail
            </label>
            <input type="text" formControlName="email">
        </div>
        <div>
            <label>
                Telefone
            </label>
            <input type="number" formControlName="phone">
        </div>
        <div>
            <label>
                Empresa
            </label>
            <input type="text" formControlName="company">
        </div>
        <div>
            <label>
                Ideia
            </label>
            <input type="text" formControlName="budget">
        </div>
    </form>
</div>